#inline-product-placeholder {
  &.spinner {
    background-color: #ff0000;
  }
  width: 100%;
  float: none;
  clear: both;
  .product-expanded-wrapper {
    margin-top: 10px;
    padding-left: $js-page-padding-left;
    padding-right: $js-page-padding-right;
    padding-top: 0;
    padding-bottom: 20px;
    box-shadow: 0 -3px -3px rgba(0, 0, 0, 0.3);
    background-color: white;
    background-image: url("/m1/stage/images/responsive-base/fade-down-30.png");
    background-repeat: repeat-x;
    border-bottom: 2px solid #cdcdcd;
  }
  .pointer {
    height: 17px;
    background-position: 28%;
    background-image: url("/m1/stage/images/responsive-base/arrow-down-white.png");
    background-repeat: no-repeat;
    .close {
      text-align: right;
      cursor: pointer;
      color: #999;
      margin-top: 6px;
      margin-right: 6px;
    }

  }
  .product-image {
    float: left;
    width: 50%;
  }
  .product-buttons,
  .product-info,
  .product-price {
    width: 50%;
    float: right;
    padding-bottom: 10px;
  }



}


//
//  Small
//
@media #{$small-only} {
  #inline-product-placeholder {
    display: none !important;
  }
}

//
//  Medium
//
@media #{$medium-only} {
}

//
//  Large
//
@media #{$large-only} {
}

//
//  X-Large
//
@media #{$xlarge-only} {
}

//
//  XX-Large
//
@media #{$xxlarge-only} {
}

