<j:BaseRightMasterHeader/>
<j:JSDS_Right/>
<div id="right-area">
    <div class="content">
        <!--
        <j:freefreightmessageright />
        -->
        <j:infotextright />
        <j:mostpopularproducts />
        <j:offerscontrol />
        <j:listproductscontrol />
        <j:newsbaselist />
    </div>
</div>
<j:BaseRightMasterFooter/>