<j:PageHeader/>
<j:PageSettings LeftAreaRenderMode="Exclude" DisplayRightArea="False" />
<j:JSDS_LMPA/>
<div class="category-page-wrapper">
    <j:Manufacturer/>
    <j:Manufacturer_ProductList_Advanced/>
</div>
<j:PageFooter/>
